/* Slider */
.slick-slider{
	position: relative;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
	}
.slick-list{
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	}
.slick-list:focus{outline: none;}
.slick-list.dragging{cursor: pointer;cursor: hand;}
.slick-slider .slick-track,
.slick-slider .slick-list{
	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		 -o-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
	}

.slick-track{
	position: relative;
	top: 0;
	left: 0;
	display: block;
	}
.slick-track:before,
.slick-track:after{
	display: table;
	content: '';
	}
.slick-track:after{ clear: both;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide{display: none;float: left;height: 100%;min-height: 1px; outline:none;}

[dir='rtl'] .slick-slide{float: right;}
/*.slick-slide img{ display: block;}*/
.slick-slide.slick-loading img{ display: none;}
.slick-slide.dragging img{ pointer-events: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{ visibility: hidden;}
.slick-vertical .slick-slide{
	display: block;
	height: auto;
	border: 1px solid transparent;
	}
.slick-arrow.slick-hidden {display: none;}
.btnnone.slick-prev.slick-arrow{display: none;}


/* Arrows */
.slick-prev, .slick-next {
	position: absolute;
	top:42%;
	display: block;
	padding: 0;
	outline: none;
	border: none;
	z-index: 2;
	cursor: pointer;
	width:30px;
	height:39px;
	margin-top:0px;	
	}
.slick-prev{
	left:0px;
	background: url(../images/prev.png) no-repeat top left;
	}
.slick-next{
	right:0px;
	background: url(../images/next.png) no-repeat top right;
	}
/*============dots=======*/

ul.slick-dots{
	display:inline-block;
	vertical-align:top;
	margin-top:10px;
	text-align:center;
	}

ul.slick-dots li{
	display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    cursor: pointer;
    width:12px;
    padding: 0;
    border: none;
    border-radius: 100%;
	}
ul.slick-dots li button{
	width:10px;
	height:10px;
	border-radius: 50%;
	background:#bee6f6;
	text-indent: -9999px;
	display: block;
	outline:none;
	border:none;
	padding:0;
	}
ul.slick-dots li.slick-active button{background:#009ee2;}

.slick-current .s2-sldr-bx{ transform:scale(1.2); z-index:2; position:relative; z-index:99;}

@media only screen and (max-width:1023px){
.s4_review_row .slick-prev{left:0;}
.s4_review_row .slick-next{right:0;}
	}
@media only screen and (max-width:767px){
.s4_review_row .slick-prev{left:-10px; width:17px;}
.s4_review_row .slick-next{right:-10px;width:17px;}
}